{% extends "../inc/base.html" %} {% block content %}

<section class="page-header page-header-xs">
    <div class="container">
        <!-- breadcrumbs -->
        <ol class="breadcrumb breadcrumb-inverse">
            <li><a href="#">首页</a></li>
            <li><a href="#">用户</a></li>
            <li class="active">用户中心</li>
        </ol>
        <!-- /breadcrumbs -->

    </div>
</section>
<!-- /PAGE HEADER -->




<!-- -->
			<section>
				<div class="container">
					<div class="row">
					<!-- LEFT -->
					{% include "../inc/user_left.html" %}
						<!-- RIGHT -->
						<div class="col-lg-10 col-md-10 col-sm-8">

							123456


						</div>
					</div>
				</div>
			</section>
			<!-- / -->
{% endblock %}
{% block script %}

{% endblock %}